.hero
modal
    .content-body 
        .modal-title {{ "Are you sure to exit without downloading the poster?" | translate }}
        p {{ "Your changes will be lost if you don’t download it." | translate }}
    .content-footer
        button.btn.btn-default(type='button', (click)='modal.hide()') {{ "cancel" | translate | titleize }}
        .flex-1        
        button.btn.btn-default(type='button', (click)="exitForce()") {{ "discard and exit" | translate | titleize }}
        button.btn.btn-go(type='button', [ngClass]="{'disabled': !resultImgSrc}", (click)="downloadAndExit()") {{ "download and exit" | translate | titleize }}
.container
    .row
        .col-lg-1.visible-lg-block
        .col-md-8.col-lg-6.col-result
            .panel.panel-default
                .panel-body
                    div(
                        *ngIf='!resultImgSrc',
                        ) Now Rendering ...
                    img.img-responsive(*ngIf='resultImgSrc', [attr.src]="resultImgSrc")
        .col-md-4.col-lg-4
            h2 {{ "options" | translate | titleize }}
            a.btn.btn-go.btn-block([ngClass]="{'disabled': !resultImgSrc}", (click)="download()") {{ "download" | translate | titleize }}
            a.btn.btn-default.btn-block((click)="back()") {{ "edit again" | translate | titleize }}
            a.btn.btn-default.btn-block((click)="exit()") {{ "exit" | translate | titleize }}
            p {{ "Thanks for using Posty Poster." | translate | titleize }}        
        .col-lg-1.visible-lg-block