div([innerHTML]="artboardScaleStyle | safe: 'html'")
.editor-container
    .editor-content
        #artboardContainer(artboardContainer="", (init)="alert('tom')", [innerHTML]="artboard.output | safe: 'html'")
    .editor-sidebar
        div.form-group(*ngFor='let designProperty of designPropertiesArray')
            label {{ designProperty.label }}

            textarea.form-control(
                *ngIf="designProperty.input === 'text'", 
                type='text', 
                [attr.designPropertyBinder]="designProperty._objectKey", 
                (keyup)='onInputChange($event)', 
                ) {{designProperty.value}}

            input(
                *ngIf="designProperty.input === 'range'", 
                type='range', 
                [attr.designPropertyBinder]="designProperty._objectKey", 
                [attr.min]="designProperty.min", 
                [attr.max]="designProperty.max",
                [attr.value]="designProperty.value", 
                (input)='onInputChange($event)', 
                ) 
            
            input(
                *ngIf="designProperty.input === 'image'", 
                type="file", 
                accept="image/*",
                [attr.designPropertyBinder]="designProperty._objectKey", 
                (change)="onFileChange($event)", 
                )
                
        div
            button.btn.btn-default(type="button", (click)='render()') Render

        div(*ngIf="resultSrc")
            img#resultSVG([attr.src]="resultSrc | safe: 'url'")
            